<div class="flex flex-col">
<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
<div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
<div class="overflow-hidden">
<table class="min-w-full text-center">
<thead class="border-b bg-gray-600">
 <tr>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Client</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4"></th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Admin</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Dispatcher</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Mechanic</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4"> Office_Staff</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Sub_Contractor</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Technician</th>
  <td scope="col" class="text-sm font-medium text-white px-6 py-4">Consumers</td>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Telematics(GPS)</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Accounting</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Bin Module</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Bin Monitoring</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">SMS Delivery</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Rounting</th>
  <th scope="col" class="text-sm font-medium text-white px-6 py-4">Total Users</th>
 </tr>
</thead class="border-b">
<tbody>
 <% @clients.each do |client| %>
 <tr class="bg-white border-b">
 <td rowspan="3" class="text-sm text-gray-900 font-bold px-6 py-4 whitespace-nowrap text-center bg-gray-300"><%= client.client_name %></td>
 <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Rate</td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Admin",client.id).first.user_price if User.user_type("Admin",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Dispatcher",client.id).first.user_price if User.user_type("Dispatcher",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Mechanic",client.id).first.user_price if User.user_type("Mechanic",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Office_Staff",client.id).first.user_price if User.user_type("Office_Staff",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Sub_Contractor",client.id).first.user_price if User.user_type("Sub_Contractor",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Technician",client.id).first.user_price if User.user_type("Technician",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r">$<%= User.user_type("Consumer",client.id).first.user_price if User.user_type("Consumer",client.id).any? %></td>
 
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Telematics",client.id).first.standard_price if Standard.standard_type("Telematics",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Accounting",client.id).first.standard_price if Standard.standard_type("Accounting",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Bin Module",client.id).first.standard_price if Standard.standard_type("Bin Module",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Bin Monitoring",client.id).first.standard_price if Standard.standard_type("Bin Monitoring",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("SMS Delivery",client.id).first.standard_price if Standard.standard_type("SMS Delivery",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Routing",client.id).first.standard_price if Standard.standard_type("Routing",client.id).any? %></td>
 <td class="text-sm text-gray-900 font-bold px-6 py-4 whitespace-nowrap border-r"></td>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Registered</td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Admin",client.id).count if User.user_type("Admin",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Dispatcher",client.id).count if User.user_type("Dispatcher",client.id).count > 0   %> </td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Mechanic",client.id).count if User.user_type("Mechanic",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Office_Staff",client.id).count if User.user_type("Office_Staff",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Sub_Contractor",client.id).count if User.user_type("Sub_Contractor",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Technician",client.id).count if User.user_type("Technician",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.user_type("Consumer",client.id).count if User.user_type("Consumer",client.id).count > 0   %></td>

   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Telematics",client.id).count if Standard.standard_type("Telematics",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Accounting",client.id).count if Standard.standard_type("Accounting",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Bin Module",client.id).count if Standard.standard_type("Bin Module",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Bin Monitoring",client.id).count if Standard.standard_type("Bin Monitoring",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("SMS Delivery",client.id).count if Standard.standard_type("SMS Delivery",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.standard_type("Routing",client.id).count if Standard.standard_type("Routing",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-bold px-6 py-4 whitespace-nowrap border-r"></td>
 </tr class="bg-white border-b">

 <tr class="bg-gray-100 border-b">
   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 border-r">Actives</td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Admin",client.id).count if User.active_user("Admin",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Dispatcher",client.id).count if User.active_user("Dispatcher",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Mechanic",client.id).count if User.active_user("Mechanic",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Office_Staff",client.id).count if User.active_user("Office_Staff",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Sub_Contractor",client.id).count if User.active_user("Sub_Contractor",client.id).count > 0   %> </td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Technician",client.id).count if User.active_user("Technician",client.id).count > 0   %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= User.active_user("Consumer",client.id).count if User.active_user("Consumer",client.id).count > 0   %></td>

   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("Telematics",client.id).count if Standard.active_standard("Telematics",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("Accounting",client.id).count if Standard.active_standard("Accounting",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("Bin Module",client.id).count if Standard.active_standard("Bin Module",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("Bin Monitoring",client.id).count if Standard.active_standard("Bin Monitoring",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("SMS Delivery",client.id).count if Standard.active_standard("SMS Delivery",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap border-r"><%= Standard.active_standard("Routing",client.id).count if Standard.active_standard("Routing",client.id).count >0 %></td>
   <td class="text-sm text-gray-900 font-bold px-6 py-4 whitespace-nowrap border-r"><%= User.where("user_type !='Consumer' AND active_user= true AND client_id=?",client.id).count %></td>
 </tr class="bg-gray-100 border-b">

 <% end %>
 </tbody>
</table>
</div>
</div>
</div>
</div>
