
<div class="flex flex-col">
<div>
<div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
<div class="overflow-hidden">
<table class="min-w-full text-center">
<caption class="text-xl p-2 font-semibold font-serif text-gray-900 dark:text-white">Client: <%= @client.client_name %> (Standard)</caption>
<thead class="border-b bg-gray-600">
  <tr>
   <th scope="col" class="text-base font-semibold font-serif text-white px-4 py-4"></th>
   <th scope="col" class="text-base font-semibold font-serif text-white px-4 py-4">Rate</th>
   <th scope="col" class="text-base font-semibold font-serif text-white px-4 py-4">Registered</th>
   <th scope="col" class="text-base font-semibold font-serif text-white px-4 py-4">Actives</th>
   <th scope="col" class="text-base font-semibold font-serif text-white px-4 py-4">Total Amount</th>
  </tr>
</thead class="border-b">
<tbody>
<% @total_rate_standard=0 %>
<% @total_amount_standard = 0 %>
 <tr class="bg-white border-b">
   <%= render "admin_panel/standard",type: "Telematics" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
   <%= render "admin_panel/standard",type: "Accounting" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
  <%= render "admin_panel/standard",type: "Bin Module" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b"> 
  <%= render "admin_panel/standard",type: "Bin Monitoring" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
  <%= render "admin_panel/standard",type: "SMS Delivery" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
  <%= render "admin_panel/standard",type: "Routing" %>
 </tr class="bg-white border-b">

 <tr class="bg-white border-b">
  <td class="text-base text-gray-900 font-bold font-serif px-4 py-4 whitespace-nowrap text-center bg-gray-300">Total Amount</td>
  <td class="text-base text-gray-900 font-bold font-sans px-4 py-4 whitespace-nowrap text-center bg-gray-300"> $<%= @total_rate_standard.round(2)  %></td>
  <td class="text-base text-gray-900 font-bold font-sans px-4 py-4 whitespace-nowrap text-center bg-gray-300"> <%= Standard.where(client: @client,month: session[:month],year: session[:year]).count %></td>
  <td class="text-base text-gray-900 font-bold font-sans px-4 py-4 whitespace-nowrap text-center bg-gray-300"> <%= Standard.where(client: @client,active_standard: true,month: session[:month],year: session[:year]).count %></td>
  <td class="text-base text-gray-900 font-bold font-sans px-4 py-4 whitespace-nowrap text-center bg-gray-300"> $<%= @total_amount_standard.round(2) %></td>
 </tr class="bg-white border-b">


</tbody>
</table>
</div>
</div>
</div>


