<div class="min-w-full text-center py-6 rounded-md border border-transparent">
<%= form_tag  admin_panel_path,:method =>"get",class:"bg-gray-200 py-4" do  %>
   <select name="client" class="font-semibold font-serif">
    <% @clients.each do |client|%>
     <option value="<%= client.id %>" class="font-semibold font-serif text-sm"><%= client.client_name %></option>
    <% end %>
   </select>
   <%= submit_tag("Search",:name => nil,class:"bg-sky-700 font-serif text-white px-4 py-2.5 rounded-md border border-transparent hover:bg-indigo-700 font-semibold") %>
<% end %>
</div>

<% if @client %>
 <%= turbo_frame_tag "updates" do %>
  <%= render "admin_panel/users" %>
   <%= render "admin_panel/standards" %>
 <% end %>
<% end %>



