<div class="min-w-full text-center py-6 rounded-md border border-transparent">
<%= form_tag  admin_panel_path,:method =>"get",class:"bg-gray-200 py-4" do  %>
   <select name="client" class="font-light">
    <% @clients.each do |client|%>
     <option value="<%= client.id %>" class="font-light"><%= client.client_name %></option>
    <% end %>
   </select>
   <%= submit_tag("Search",:name => nil,class:"bg-sky-700 text-white px-4 py-2.5 rounded-md border border-transparent hover:bg-indigo-700") %>
<% end %>
</div>

<% if @client %>
 <%= render "users" %>
 <%= render "standards" %>
<% end %>


